{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="backkkk">
            <div class="conboxxx">
                <div class="mid">
                    <div class="logbop"><br>
                        <h2 class="center"><u>
                            My Information:</u>
                        </h2><br><br>
                        <p class="qwe">First Name : {{user.first_name}}</p> <br>
                        <p class="qwe"> Last Name : {{user.last_name}}</p><br>
                        <p class="qwe"> Email : {{user.email}}</p> <br>
                        <p class="qwe"> Username : {{user.username}}</p><br><br>


                        <button class="box3 qqq" type="button" onclick="aabc()">For Account Update <i
                                class="fa-solid fa-arrow-right"></i></button>&nbsp;&nbsp;&nbsp;
                        <button class="box3 ipo" type="button" onclick="iop()">Show Order Detail <i class="fa-solid fa-arrow-down"></i></button>
                    </div>

                    <div class="move"><img src="{% static 'img/update.png' %}" alt="logo" height="660px" width="600px"></div>
                </div><br><br><br><br>

                <div class="overr">
                    <br>
                    <h2 class="center">
                        Account Update:
                    </h2><br>
                    <form method="post" action="/updateprofile/" class="formm">
                        {% csrf_token %}
                        &nbsp;<label for="c">First Name :
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input
                            class="cc" type="text" name="fname" id="c" placeholder="First Name" required><br><br>
                        &nbsp;<label for="d">Last Name :
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input
                            class="cc" type="text" name="lname" id="d" placeholder="Last Name" required><br><br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button class="box2"><strong>Submit <i
                                        class="fa-solid fa-square-check"></i></strong></button><strong> <button class="box2"
                                    type="reset"><strong>Reset <i class="fa-solid fa-power-off"></i></strong></button>
                                </form>
                                <form method="post" action="/updatepw/" class="formm">
                                    {% csrf_token %}
                        &nbsp;<label for="b">New Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="cc"
                            type="password" placeholder="New Password" name="newpw" id="b" required>&nbsp;
                        <button class="a box1" type="button" onclick="togglePasswordVisibility('overr')">
                            SHOW
                        </button><br><br>
                        <label for="bb">Confirm Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="cc"
                            type="password" placeholder="Confirm Password" name="conpw" id="bb" required>

                        <br><br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button class="box2"><strong>Submit <i
                                    class="fa-solid fa-square-check"></i></strong></button><strong> <button class="box2"
                                type="reset"><strong>Reset <i class="fa-solid fa-power-off"></i></strong></button>
                    </form>
                    <br><br><br>
                    <button class="box3 ipo" type="button" onclick="bbc()"><i class="fa-solid fa-arrow-left"></i>
                        &nbsp;Account Detail</button>
                </div><br><br>

                <div class="order">
                    <table class="tabb bod" border="15px" cellspacing="0">
                        <tr>
                           
                            <td>Vehicle</td>
                            <td>Start Date</td>
                            <td>No. of Days</td>
                            <td>Price</td>
                            <td>Action</td>
                            
                        </tr>
                        {% for i in vehicles%}
                        <tr>
                           
                            <td>{{i.vehicle_description.name}}</td>
                            <td>{{i.Start_date}}</td>
                            <td>{{i.total_days}}</td>
                            <td>{{i.total_cost}}</td>
                            <td>
                                {%if i.is_completed%}
                                <button class="box2" type="button">Completed</button>
                                {%else%}
                                <form action="/complete/{{ i.id }}/" method="post">
                                    {% csrf_token %}
                                <button class="box2" type="submit">In Progress</button>
                                </form>
                                {%endif%}
                                 
                            </td>
                                
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
