{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="backkk">
            <div class="conboxx">
                <br><br>
                <h1>Choose from a Wide variety of Vehiles:</h1><br>
                <div class="inbox">
                    <h1 class="ll"><br>Vehicles Options:</h1>
                    <h4 class="ll"><br>At our vehicle rental site, we offers a variety of options to meet your
                        transportation needs. From small cars to SUVs, we've got you covered.Book with us and experience
                        the convenience of renting a vehicles.</h4><br>
                    <div class="booxx">
                        <div class="inboi">
                            <img src="{% static 'img/compact.png' %}" alt="" height="80%" width="100%">
                            
                                <h3 class="center">Compact Cars:</h3>
                            <br>
                                <p class="center">Great for city driving or short trips.</p>
                            
                        </div>
                        <div class="inboi">
                            <img src="{% static 'img/suv.png' %}" alt="" height="80%" width="100%">
                                <h3 class="center">SUV's Cars:</h3>
                            <br>
                            
                                <p class="center">Perfect for camping trips or long road trips.</p>
                            
                        </div>
                        <div class="inboi">
                            <img src="{% static 'img/luxury.png' %}" alt="" height="80%" width="100%">
                            
                                <h3 class="center">Luxury Cars:</h3>
                            <br>
                            
                                <p class="center">For a special occation or a treat to yourself.</p>
                            
                        </div>
                    </div>

                </div>
                <div><br><br><br>
                    <h1>Transparent Pricing and Secure Payments:</h1><br>
                    <p>Transparent pricing involves providing clear, easily understandable cost breakdowns without
                        hidden fees, fostering trust and informed decision-making for customers. Secure payment
                        processes encompass employing robust encryption, secure gateways, and adherence to industry
                        standards, safeguarding sensitive financial information during transactions. Together, these
                        elements ensure that customers have a comprehensive understanding of costs while their payment
                        details remain protected, fostering confidence and trust in the transaction or service
                        provided.We take offering transparent pricing and secure payment options for all of our
                        services. Know the exact price of your ride before and pay with peace of mind.</p><br>

                    <div class="booxx">
                        <div class="inbo">
                            <br>
                            <h3>&nbsp;&nbsp;No Hidden Cost:</h3><br>
                            <p class="ll">Know the exact price of your booking upfront, with no hidden fees or costs.
                            </p>

                        </div>&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="inbo">
                            <br>
                            <h3>&nbsp;&nbsp;Flexible Cancellation Policy:</h3><br>
                            <p class="ll">You can cancel your ride up to 24 hours before the booking without any
                                cancellation charges.</p>
                        </div>
                    </div><br>
                    <div class="booxx">
                        <div class="inbo">
                            <br>
                            <h3>&nbsp;&nbsp;Secure Payment Option:</h3><br>
                            <p class="ll">We offer secure payment options that ensure your personal and payment details
                                are always protected.</p>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="inbo">
                            <br>
                            <h3>&nbsp;&nbsp;Rewards Program:</h3><br>
                            <p class="ll">Join our rewards program and get discounts and special offers on future
                                bookings.</p>
                        </div>
                    </div><br><br><br>
                    <h1>Book a Vehicle Whenever You Need:</h1><br>
                    <p>Need a vehicle?? Our vehicle booking system connects you with nearby drivers, nearby vehicle
                        renting companies in just a few clicks.<br> Book a vehicle and get to your destination safely
                        and comfortably.</p><br>

                    <table class="tab">
                        <tr>
                            <td>Vehicle Options:</td>
                            <td>Availability:</td>
                            <td>Real Time Booking:</td>
                        </tr>
                        <tr>
                            <td>Choose a vehicle that meets your travel needs, like a standard vehicle, premium vehicle
                                or a luxury vehicle.</td>
                            <td>Our vehicle rental system are available 24/7, so you can book a vehicle whenever you
                                need it.</td>
                            <td>Rent a vehicle in real-time and get a regular updates from the driver or company owner.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}