{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="backkkk">
            <div class="boxxx">
                <h1>Shipping Address:</h1><br>
                <form method="POST" class="formm">
                    {% csrf_token %}
                    Name*: &nbsp;&nbsp;<input type="text" name="name" class="cc" placeholder="Name" required><br><br>
                    Phone*: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
                        class="cc" placeholder="phone"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)" maxlength="10"
                        title="Please enter a 10-digit phone number" name="phone" required><br><br>
                    Address*: <input type="text" name="address" class="cc" placeholder="Address" required>&nbsp;&nbsp;
                    Payment: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="P-ayment" class="cc" value="Cash On Delivery"
                        readonly> <br><br><br>
                    
                        <h1>Cart Total:</h1><br>
                        <p class="pp">Start
                            Date*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                type="date" name="sdate" required></p><br>
                        <p class="pp">Total
                            Days*:&nbsp;&nbsp;&nbsp;&nbsp;<input type="number"
                                max="20" min="1" name="days" required></p><br>
                        <p class="pp">Cost Per Day:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.vehicle_description.price_per_day}}</p><br>

                        <hr><br>
                        <p class="pp">Total
                            Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.vehicle_description.price_per_day}}</p><br>
                            <button type="submit" class="box3">Place Order!! <i
                                class="fa-solid fa-truck"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="box3">Reset <i class="fa-solid fa-power-off"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}